@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond', 'Kumbh Sans', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}
.navbar{
    height: 100px;
    display: flex;
    background: #1d2528;
    border-bottom: #000 2px outset;
    border-radius: 0 0 40px 40px;
    justify-content: center;
    align-items: center;
    font-style: 1.2rem;
    position: sticky;
    z-index: 999;
    width: 100%;
}

.navbar__container{
    display: flex;
    height: 100px;
    z-index: 1;
    width: 100%;
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto;
}

#navbar__logo{
    color: #e4c8bc;
    /* background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%); */
    background-size: 100%;
    display: flex;
    font-family: 'MistoBook';
    align-items: center;
    cursor: pointer;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    /* -webkit-text-fill-color: transparent; */
    -moz-text-left-colors: transparent;
    text-decoration: none;
    font-size: 2.4rem;
    user-select: none;
}
#navbar__logo::after
{
    content: "apple";
    color: #75863b;
    font-size: 0.5em;
    margin-top: 15px;
}
.search
{
    position: absolute;
    align-self: center;
    margin-left: 20%;
}

.searchField{
    min-width: 600px;
    height: 10px;
    padding: 25px;
    border: 2px #fff solid; /*previous: c29a5c*/
    box-shadow: none;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    font-family: poppins;
    font-size: 1.1rem;
    background-color: #1d2528;
}
.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__items {
    height: 20px;
}

.navbar__links {
    color: #fff;
    display: flex;
    font-size: 1.1rem;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

#signup {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1.1rem;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 4px;
    background-color: #c2995c;
    /* background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); */
    color: #fff;
    transition: all 0.3s ease;
}

#signup:hover{
    background-color: #b68439;
    box-shadow: 3px 2px 2px #323407;
    transition: all 0.3s ease;
}

/* @media screen and (max-width: 742px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
} */
.grid-card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    gap: 1rem;
    margin: 10px 15px 0 15px;
}
.card{
    background: #1d2528;
    height: 350px;
    border-radius: 8px;
}
.productDescription, .productName, .price
{
    position: absolute;
    margin: 10px 0 0 20px;
    font-family: poppins;
    font-size: 1.2rem;
    color: #d0cdb3;
}
img{
    width: 200px;
    height: 150px;
    margin:  0 auto;
    object-fit: cover;
    cursor: pointer;
    border-radius: 14px;
}

.images{
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(170px, auto) );
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    gap: 4rem;
    overflow: hidden;
    padding-bottom: 20px;
    position: absolute;
}

#sandalImg
{
    object-fit: cover;
    object-position: 0ch -14ch;

}

.productName{
    position: relative;
    top: -70px;
    left: -11px ;
    color: #fff;
    font-size: 1.5em;
    font-family: poppins;
    font-weight: bold;
}

.cartBtn
{
    position: absolute;
    margin-top: 60px;
    margin-left: 240px;
    width: 160px;
    padding: 4px 10px 4px 25px;
    background-color: #123845;
    color: #fff;
    font-family: poppins;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    transition: 0.4s all ease-out;
}
.cartBtn:hover
{
    transition:  0.4s all ease-in-out;
    margin-left: 230px;
    width: 180px;
    cursor: pointer;
    border: 1px #d0cdb3 solid;

}

.cartIcon
{
    position: relative;
    top: 5px;
    left: -20px;
    height: 25px;
    width: 20%;
    fill: white;
}

.detailBtn
{
    position: absolute;
    margin-top: 110px;
    margin-left: 240px;
    width: 160px;
    height: 31.4167;
    padding: 7px 0;
    background-color: #123845;
    color: #fff;
    font-family: poppins;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    transition: 0.4s all ease-out;

}
.detailBtn:hover
{
    transition:  0.4s all ease-out;
    margin-left: 235px;
    width: 170px;
    border: 1px #d0cdb3 solid;
    cursor: pointer;
}

.price
{
    position: relative;
    top: -149px;
    left: -11px;
    color: #fff;
    font-size: 1em;
    font-style:oblique;
    font-weight: lighter;
}

.productDescription
{
    position: relative;
    top: 220px;
    left: 0;
    color: #c6cbcb;
    font-size: 1em;
    font-weight: 100;
    text-align: left;
}

.category_container
{
    margin-bottom: 40px;
}
#category_heading
{
    text-align: center;
    color: #423f3f;  
    font-family: poppins;
    font-size: 3em;
    font-stretch:extra-expanded;
}

.category_card
{
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    flex-wrap: wrap;
}

/* .catrgory{
    position: absolute;
} */
.categoryImg
{
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    padding: 10px 10px;
    filter: drop-shadow(4px 0px 8px #1d2528);
    user-select: none;
    margin-bottom: 10px;
    transition: 0.2s all ease-out;
}

.categoryImg:hover
{
    padding: 0px 0;
    transition: 0.2s all ease-out;
}

.category
{
    margin-bottom: auto;
    transition: 0.2s all ease-out;
    opacity: 99;
    padding: 40px;
}

.category:hover
{
    padding: 30px;
    opacity: 1;
    background: #123845;
    border: 2px #1d2528 solid;
    border-radius: 18px;
    transition: 0.2s all ease-out;
}
.categoryName
{
    display: block;
    text-align: center;
    margin-top: auto;
    font-family: poppins;
    font-size: 1em;
    text-transform: uppercase;
    color: #000;
    transition: 0.2s all ease-out;
}
.categoryName:hover
{
    transition: 0.2s all ease-out;
    color: #fff;
}

.instaCard
{
    min-width: 766px;
    max-width: 50%;
    max-height: 230px;
    border: 2px #123845 solid;
    border-radius: 10px;
    margin: auto auto 80px auto;
    display: flex;
    background: #1d2528;

}
.instaIcon
{
    min-height: 70px;
    min-width: 70px;
    height: 100px;
    margin-top: 40px;
    margin-left: 30px;
    fill: #fff;
    /* background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);; */
}

.instaFollow
{
    font-size: 3em;
    color: #fff;
    font-family: montserrat;
    text-transform: uppercase;
    display: block;
    margin: 40px;
}

#instafollowDescription
{
    font-stretch: extra-expanded;
    content: "Explore the latest trends";
    width: 300px;
    font-size: 0.4em;
    color: #fff;
    position: absolute;
    text-transform: capitalize;
    font-family: poppins ;
    margin: -70x auto auto 320px;
}

#followBtn
{
    height: max-content;
    min-width: 150px ;
    border-radius: 3px;
    font-family: poppins;
    color: #1d2528;
    background: #fff;
    padding: 10px;
    font-size: 1.2em;
    font-weight: 900;
    text-align: center;
    align-items: center;
    vertical-align: center;
    margin: 75px 30px auto auto;
    text-transform: uppercase;
    overflow: hidden;
}

footer
{
    width: 100%;
    height: 700px;
    background-color: #d0cdb3;
    /* background-color: #484852; */
    /* border-top: 2px #1d2528 solid; */
    border-radius: 8px 8px 0 0;
    margin: auto 0 30px 0;
    justify-content: space-evenly;
    column-gap: 25px ;
}

.footerrow
{
    display: flex;
    align-self: center;
    align-items:initial;
    justify-content: space-evenly;
    column-gap: 3em;
    margin: 5px auto auto auto;
    padding: 30px 10px;
    min-width: 600px;
    width: fit-content;
    height: fit-content;
    min-height: 300px;
    overflow: hidden;
}

hr{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #1d2528;
    width: 800px;
    height: 1px;
    opacity: 0.7;
    
}
.footerrow2
{
    width: 1200px;
    justify-content: center;
    height: fit-content;
    min-height: 100px;

}

#abouttailor__block, #quicklinks__block, #others__block, #subscribe__block
{
    height: fit-content;
    /* border: 2px blue solid; */
    margin-top: 10px ;
}

#abouttailor__block
{
    max-height: 330px;
    min-width: 240px;
    width: 300px;
}
#quicklinks__block, #others__block
{
    min-width: 100px;

}

#subscribe__block
{
    display: block;
    min-width: 100px;
    width: fit-content;
}
.footerTitle
{
    font-family: poppins;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 2px;
}


#aboutDescription
{
    font-size: 1em;
    font-family: montserrat;
    line-height: 1.5;
    font-weight: 100;
    
}

.quick__links, .other__links
{
    text-decoration: none;
    list-style:none;
    margin-top: 0px;
}

.quicklinks__anchor, .otherlinks__anchor
{
    font-family: poppins;
    color: #000;
}


#subscribe__input, #subscribeBtn
{
    height: 50px;
    margin-top: 10px;
    font-size: 1em;
    font-family: poppins;
    border: 1.5px #1d2528 solid;
    border-radius: 4px;
}

#subscribe__input
{
    padding-left: 10px;
    width: 300px;
    min-width: 100px;
    color: #000;
    transition: 0.2s all ease-in-out; 
    font-weight: bolder;
}
#subscribe__input:hover
{
    transition: 0.2s all ease-in-out;
    box-shadow: 0 0 5px #123845;
}

#subscribeBtn
{
    transition: 0.2s all ease-in-out;
    background-color: #1d2528;
    color: #fff;
    width: 300px;
    min-width: 100px;
}

#subscribeBtn:hover
{
    background-color: #123845;
    transition: 0.2s all ease-in-out;
    box-shadow: 0 0 10px #123845;
}

.icons
{
    height: 50px;
    width: 200px;
    display: flex;
    column-gap: 1em;
    fill: #1d2528;
    align-items: center;
}

.connect
{
    align-self: center;
}

/* 75863b */
    /* .categoryImg:nth-child(2)
    {
        object-position: 0ch -30ch;
        
    } */
